<!-- templates/bill_upload/success.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éxito</title>
    <link rel="stylesheet" href="{% static 'success.css' %}">
</head>
<body>
    <div class="container">
        <h1>¡Factura Subida Exitosamente!</h1>
        <p>Gracias por subir tu factura o introducir los datos manualmente.</p>
        <p>Nos pondremos en contacto contigo en breve.</p>
    </div>
</body>
</html>
